* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:
    --secondary-color:
    --tertiary-color: 
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: "https://picsum.photos/g/300/200";
}